In [1]:
import os
import json
import pandas as pd
from datetime import datetime

# transformer implementation
from poe_price.data.etl import transformer as tr

import importlib

In [22]:
importlib.reload(tr)

In [23]:
# select test json file
SOURCE_FOLDER = '/home/fabio/Desktop/poe_price/data/temp/test'
items = []
for f in os.listdir(SOURCE_FOLDER): 
    with open(os.path.join(SOURCE_FOLDER, f), 'r') as content:
        content = json.load(content)
        items.append(tr.extract_items(content))
items = pd.concat(items)
items.shape

(1389, 59)

In [29]:
items[(items.category=='currency') & (items.note.notna())][['extended']].values

array([[{'category': 'currency', 'baseType': 'Exalted Orb'}],
       [{'category': 'currency', 'baseType': 'The Beautiful Guide'}],
       [{'category': 'currency', 'baseType': "The Servant's Heart"}],
       [{'category': 'currency', 'baseType': 'Divine Orb'}],
       [{'category': 'currency', 'baseType': 'Simulacrum Splinter'}],
       [{'category': 'currency', 'baseType': 'Timeless Vaal Splinter'}],
       [{'category': 'currency', 'baseType': 'Stacked Deck'}],
       [{'category': 'currency', 'baseType': 'Alchemy Shard'}],
       [{'category': 'currency', 'baseType': 'Orb of Alteration'}],
       [{'category': 'currency', 'baseType': "The Jeweller's Touch"}],
       [{'category': 'currency', 'baseType': 'Alteration Shard'}],
       [{'category': 'currency', 'baseType': 'Wailing Essence of Anger'}],
       [{'category': 'currency', 'baseType': 'The Plaguemaw I'}],
       [{'category': 'currency', 'baseType': 'A Regal Death'}],
       [{'category': 'currency', 'baseType': 'An Unseen Peril'}],
       [{'category': 'currency', 'baseType': "Jeweller's Orb"}]],
      dtype=object)

In [28]:
currency = tr.extract_currencies(items)
currency

,league,date,price_currency,price_quantity,sell_quantity,sell_currency
747,Harvest,07/21/2020,chaos,180,1,exalted
2499,Harvest,07/21/2020,chaos,18,1,divine
2681,Harvest,07/21/2020,chaos,10,1,alt
3443,Harvest,07/21/2020,chaos,0.4,1,jewel

In [8]:
mitems, mitems_sockets, mitems_prop, mitems_prop_voc, mitems_mods, mitems_mods_voc = tr.extract_mod_items(items)

## Test mod based items conversion

In [27]:
tid = mitems.sample(1).index.values[0]

In [22]:
mitems.loc[tid]

,league,identified,ilvl,corrupted,duplicated,synthesised,date,sub_category,category,price_currency,...,influence_crusader,influence_warlord,influence_shaper,influence_hunter,influence_elder,requirement_level,requirement_dex,requirement_int,requirement_str,talisman_tier
3527,Harvest,True,71,NaN,NaN,NaN,07/21/2020,amulet,accessories,chaos,...,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN

In [38]:
display(pd.merge(mitems_mods_voc, mitems_mods[mitems_mods.item_id==tid], left_index=True, right_on='modifier_id'))

display(items.loc[tid].implicitMods)

display(items.loc[tid].explicitMods)

display(items.loc[tid].craftedMods)

display(items.loc[tid].enchantMods)

,text,type,item_id,modifier_id,value0,value1
1917,+#% to Chaos Resistance,explicitMods,2652,33,23.0,NaN
1915,+#% to Chaos Damage over Time Multiplier,craftedMods,2652,316,33.0,NaN
1916,+# to Level of Socketed Bow Gems,explicitMods,2652,317,2.0,NaN
1918,Bow Attacks fire an additional Arrow,explicitMods,2652,318,NaN,NaN

nan

['+2 to Level of Socketed Bow Gems',
 '+23% to Chaos Resistance',
 'Bow Attacks fire an additional Arrow']

['+33% to Chaos Damage over Time Multiplier']

nan

In [44]:
display(pd.merge(mitems_prop_voc, mitems_prop[mitems_prop.item_id==tid], left_index=True, right_on='property_id'))

display(items.loc[tid].properties)

                       text  item_id  property_id  value0  value1
456                 Quality     2652            0    20.0     NaN
457         Physical Damage     2652            1    26.0    80.0
458  Critical Strike Chance     2652            2     5.0     NaN
459      Attacks per Second     2652            3     1.5     NaN

[{'name': 'Bow', 'values': [], 'displayMode': 0},
 {'name': 'Quality', 'values': [['+20%', 1]], 'displayMode': 0, 'type': 6},
 {'name': 'Physical Damage',
  'values': [['26-80', 1]],
  'displayMode': 0,
  'type': 9},
 {'name': 'Critical Strike Chance',
  'values': [['5.00%', 0]],
  'displayMode': 0,
  'type': 12},
 {'name': 'Attacks per Second',
  'values': [['1.50', 0]],
  'displayMode': 0,
  'type': 13}]

In [47]:
display(mitems_sockets[mitems_sockets.item_id==tid])

items.loc[tid].sockets

     item_id colour  socket_group
435     2652      G             0
436     2652      G             0
437     2652      G             0
438     2652      G             0
439     2652      B             0

[{'group': 0, 'attr': 'D', 'sColour': 'G', 'item_id': 2652},
 {'group': 0, 'attr': 'D', 'sColour': 'G', 'item_id': 2652},
 {'group': 0, 'attr': 'D', 'sColour': 'G', 'item_id': 2652},
 {'group': 0, 'attr': 'D', 'sColour': 'G', 'item_id': 2652},
 {'group': 0, 'attr': 'I', 'sColour': 'B', 'item_id': 2652}]