In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


from poe_price.data.session import PSQLSession

In [2]:
session = PSQLSession('127.0.0.1', 'poe_price', 'fabio', 'password')

# trade_currency

In [3]:
with session:
    currency = session.query('SELECT * FROM trade_currency;')

In [4]:
currency.shape

(16956, 8)

In [5]:
currency.sample()

,id,league,sell_currency,price_currency,sell_quantity,price_quantity,is_stash_price,date
13143,13152,Harvest,divine,exalted,9.0,1.0,False,2020-08-07 02:31:19.401552

# trade_item

In [7]:
with session:
    armour = session.query('SELECT * FROM trade_item WHERE category = \'armour\';')
armour.shape

(900239, 28)

In [9]:
# dataframe empty columns
for col in armour.columns:
    if len(armour[col].value_counts()) == 0:
        print(col)

talisman_tier

In [8]:
armour.describe()

,id,ilvl,num_prefixes,num_suffixes,num_veiled_modifiers,price_quantity,requirement_dex,requirement_int,requirement_str,requirement_level
count,9.002390e+05,900239.000000,868297.000000,868891.000000,826028.000000,9.002390e+05,328268.000000,463562.000000,392972.000000,888732.000000
mean,1.357736e+06,79.683556,2.286868,2.532750,0.002272,1.024845e+03,82.613608,96.414769,87.268136,62.229933
std,8.037566e+05,7.418145,0.754446,0.669579,0.051287,2.639580e+05,36.835838,41.810021,40.039078,6.741679
min,1.000000e+00,1.000000,1.000000,1.000000,0.000000,0.000000e+00,15.000000,15.000000,15.000000,2.000000
25%,6.529040e+05,76.000000,2.000000,2.000000,0.000000,4.000000e+00,56.000000,62.000000,59.000000,59.000000
50%,1.353423e+06,82.000000,2.000000,3.000000,0.000000,1.000000e+01,73.000000,90.000000,76.000000,64.000000
75%,2.055012e+06,84.000000,3.000000,3.000000,0.000000,2.500000e+01,97.000000,128.000000,109.000000,68.000000
max,2.757782e+06,100.000000,3.000000,3.000000,2.000000,1.000000e+08,197.000000,194.000000,191.000000,82.000000

In [10]:
with session:
    item = session.query('''
    SELECT * FROM trade_item as ti
    WHERE ti.id = 193;''')

    sockets =  session.query('''
    SELECT * FROM trade_item as ti, trade_item_socket as tis
    WHERE ti.id = tis.item_id 
    AND ti.id = 193;''')

    props =  session.query('''
    SELECT * FROM trade_item as ti, trade_item_property as tip
    WHERE ti.id = tip.item_id 
    AND ti.id = 193;''')

    mods =  session.query('''
    SELECT * FROM trade_item as tis, trade_item_modifier as tim
    WHERE ti.id = tim.item_id 
    AND ti.id = 193;''')

UndefinedTable: missing FROM-clause entry for table "ti"
LINE 3:     WHERE ti.id = tim.item_id
                  ^

In [8]:
item

,id,category,corrupted,duplicated,identified,ilvl,influence_crusader,influence_elder,influence_hunter,influence_redeemer,...,is_stash_price,rarity,requirement_dex,requirement_int,requirement_str,requirement_level,sub_category,synthesised,talisman_tier,date
0,193,armour,None,None,True,83,None,None,None,None,...,False,rare,138,None,None,64,helmet,None,None,07/21/2020

In [ ]:
sockets

In [ ]:
props

In [ ]:
mods